.accounttop {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    margin-bottom: 24px;
    padding: 1.5rem;
    width: 80%;
    float: right;
    top: 70px;
    position: relative;
  }
  .backbutton{
    height: 40px;
  }
  .viewlisttop{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
  .pagetitle{
    width: auto !important;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
  }
  .breadpagetitle{
    width: auto !important;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
}
  .pagetitleright{
        float: right;
        margin-top: 20px;
  }
  .textright{
    text-align: right!important;
  }