.changepasswordtop {
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border-radius: 0.25rem;
  border: none;
  box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
  margin-bottom: 24px;
  padding: 1.5rem;
  width: 80%;
  float: right;
  top: 50px;
  position: relative;
}
.pagetitle {
  font-size: 18px;
  margin: 0;
  line-height: 75px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: inherit;
}
.pagetitleright {
  float: right;
  margin-top: 20px;
}
.passwordeye {
    font-family: "Material Design Icons";
  content: "\F06D0";
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  vertical-align: middle;
  line-height: 1.2;
  font-size: 16px;
}

.passwordeye:before {
    font-family: "Material Design Icons";
    content: "\F06D0";
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    vertical-align: middle;
    line-height: 1.2;
    font-size: 16px;
}
