.creteHead {
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
    border: none;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    margin-bottom: 24px;
    padding: 1.5rem;
    width: 80%;
    float: right;
    top: 110px;
    position: relative;
  }
  .title{
    width: auto !important;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: black;
    font-family: Inter;
    font-size: 35px;
    font-weight: 600;
    line-height: 42px;
    letter-spacing: 0em;
  }