.footersection{
    background-color: #111111;
    padding: 30px;
}
.listinline{
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
}
.listinline a{
    color: #C2C2C2 !important;
    text-decoration: none;
    font-size: 12px;
}
.listinlineul{
    text-align: center;
}
.blog{
    background-color: rgb(255, 255, 255);
    margin: 40px;
}
.blog ul{
    display: flex;
    justify-content: space-around;
}
.blog li{
    font-size: 10px;
 width: 11%;
 list-style-type: none;
}
.blog h2{
    font-size: 20px;
 
}