.header{
    height: 8vh;
    margin: 1% auto;
    
    
}

.headerfirst{
width: 85%;
margin: 0 auto;
    display: grid;
    grid-template-areas: "logo nav";
}
.nav{
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(2,auto);
    align-items: center;
    justify-content: end;
}
.navitem{
    margin: 0 30px;
}
.navitemlogin{
    background: #FFF;
    margin-right: 11px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #2e4256;
    border-color: #2e4256;
    padding: 8px 32px;
    border-radius: 3px;
}
.navitemlogin:hover{
color: #FFF;
border-color: #213242;
background: #213242;}
.navitemgetstart{
    background: #2e4256;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    color: #FFF;
    border-color: #2e4256;
    padding: 8px 16px;
    border-radius: 3px;
}