.navbarcustom{
    box-shadow: none;
    padding: 0 24px;
    min-height: 110px;
    position: fixed;
    left: 260px;
    top: 0;
    right: 0;
        z-index: 1001;
    background: linear-gradient(111deg, rgba(15,63,20,1) 38%, rgba(60,143,79,1) 70%);
    display: flex;
    align-items: center;
    justify-content: end;
}
.topbarrightmenu{
    position: relative;
    z-index: 1;
    padding-left: 0;
    list-style: none;
    float: right!important;
}
.navbarcustom .topbarrightmenu .navlink{
    background:transparent;
    border:none;
    color: #f1f1f1;

    padding: 0;
    min-width: 32px;
    display: block;
    margin: 0 10px;
    position: relative;
}
.navlink span img {
    height: 32px;
    width: 32px;
}