.cardbody{
    padding: 1.5rem;
    width: 80%;
    float: right;
    top: 50px;
    position: relative;
    box-shadow: 0 0 35px 0 rgb(154 161 171 / 15%);
    background-color: white;
}
.seachfeilds{
    display: flex;
    justify-content: space-evenly;
}
.table{
    width: 100%;
    margin-bottom: 1.5rem;
    color: #6c757d;
}
.theaddark tr th {
    background-color: #2e4256;
    border-color: #2e4256;
    color: #f1f1f1;
}

.viewlisttop{
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        margin-top: 30px;
        margin-bottom: 30px;
}
.breadpagetitle{
    width: auto !important;
    font-size: 18px;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: inherit;
}
